body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header {
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


.galeri {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.galeri img {
    width: 100%;
    height: auto;
}
